{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9"
        }
      }
    ],
    [
      "minify",
      {
        "mangle": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
