{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "../.eslintrc"
  ],
  "plugins": [
    "react",
    "prefer-object-spread",
    "jest"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "prefer-object-spread/prefer-object-spread": 2
  }
}